[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "lib/pico-examples"]
	path = lib/pico-examples
	url = https://github.com/raspberrypi/pico-examples.git
[submodule "lib/ioLibrary_Driver"]
	path = lib/ioLibrary_Driver
	url = https://github.com/Wiznet/ioLibrary_Driver.git
[submodule "lib/FreeRTOS-Kernel"]
	path = lib/FreeRTOS-Kernel
	url = https://github.com/raspberrypi/FreeRTOS-Kernel
[submodule "lib/WIZnet-PICO-C"]
	path = lib/WIZnet-PICO-C
	url = https://github.com/WIZnet-ioNIC/WIZnet-PICO-C
[submodule "lib/Adafruit_DACX578"]
	path = lib/Adafruit_DACX578
	url = https://github.com/adafruit/Adafruit_DACX578
[submodule "lib/PCAL6416A"]
	path = lib/PCAL6416A
	url = https://github.com/BenjamimKrug/PCAL6416A
[submodule "lib/ADS1x15_PICO"]
	path = lib/ADS1x15_PICO
	url = https://github.com/gavinlyonsrepo/ADS1x15_PICO.git
